body {
  text-align: center;
}


.white-section {
  background-color: #fff;
}


.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  position: absolute;
  left: 8%;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.links {
  margin-left: auto;
}





#title {
  background-color: #ff4c68;
  padding: 7%;
}

.principal-heading {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 42px;
  line-height: 1.6;
  color: #fff;
  text-align: left;
}

.testimonials {
  font-size: 3rem;
  line-height: 1, 5;
  color: #ffff;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}



.iphone {
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
  padding-top: 20px;
}




.download-button {
  margin: 5% 3% 5% 0%;
}




@media (max-width: 1028px) {
  .iphone {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
  .navbar-brand {
    position: absolute;
    right: 0%;
  }
}

@media (min-width: 1028px) {
  .iphone {
    width: 22%;
  }
}






#features {
  position: relative;
  padding: 7% 15%;
}

.feature-box {
  padding: 5%;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 10px;
}

.icon:hover {
  color: #ff4c68;
}




#testimonials {
  background-color: #ef8172;
  color: #ffff;
  padding: 7%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}

.carousel-inner {
  padding: 7% 15%;
}





#press {
  background-color: #ef8172;
  width: 100%;
  padding-bottom: 20px;
}
.press {
  width: 15%;
  margin: 20px 20px 50px;
}






#pricing {
  text-align: center;
  padding: 10% 20%;
}

.pricing-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1, 5rem;
  line-height: 1, 5;
  color: black;
}

.card-price {
  color: black;
}

.pricing-col {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  padding: 10% 15% 10%;
}
.cta-title {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 42px;
  line-height: 1.6;
  color: #fff;
}

#footer {
  padding: 7% 15% 4%;
  line-height: 3;
  font-size: 12px;
}

.footer-icon {
  color: black;
}
